body {
  text-align: center;
  background-color: #383d45;
}

h1 {
  margin-top: 90px;
  font-family: A Pompadour Sample;
  color: white;
}

h2 {
  margin-top: 90px;
  color: #fff;
  font-family: A Pompadour Sample;
}

h3 {
  color: white;
  font-family: sans-serif;
  font-size: 21px;
}

p {
  font-family: sans-serif;
  color: white;
  font-size: 16px;
}

label {
  font-family: sans-serif;
  color: white;
  font-size: 16px;
}

aside {
  text-align: left;
  margin-left: 20px;
  margin-top: -315px;
  font-size: 28px;
  font-weight: bold;
  color: #fbc108;
  font-family: A Pompadour Sample;
}

button {
  background-color: #287bff;
  color: #fff;
  font-family: sans-serif;
  border-radius: 100px;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
}
